<html xmlns:lxslt="http://xml.apache.org/xslt">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../css/qalab.css">
</head>
<body>

<div align="right">Built by <a target="_top" href="http://www.limy.org/program/eclipse_plugin/">Limy Eclipse Plugin</a>(QALab ${pluginVersion}) and <a href="http://ant.apache.org">Ant</a></div>
<h3>QALab Report</h3>

<br>

<div align="center">

#if ($enable_qalab)
	#if ($enable_indivisual)
		<a href="all-packages.html"><img border="0" width="680" height="453" src="summary.png"/></a>
	#else
		<img border="0" width="680" height="453" src="summary.png"/>
	#end
<br /><br />
#end

#if ($cobertura)
<img width="680" height="453" src="coverage/summary.png"/>
<br /><br />
#end

</div>

#set ($results = $Util.createMap())

#set ($dates = $Util.sortDesc($Util.getGroupSet($qalab.summary.summaryresults, "date")))

#foreach ($date in $dates)
  #set ($dummy = $results.put($date, $Util.createMap()))
  #set ($summaries = $results.get($date))
  #foreach ($row in $qalab.summary.summaryresults)
    #if ($row.date == $date)
      #set ($dummy = $summaries.put($row.type, $row))
    #end
  #end
#end


#if ($qalab.summary.summaryresult)
  #set ($row = $qalab.summary.summaryresult)
  #set ($date = $row.date)
  #set ($dummy = $results.put($date, $Util.createMap()))
  #set ($summaries = $results.get($date))
  #set ($dummy = $summaries.put($row.type, $row))
  #set ($dates = [$date])
#end

<table class="log" border="0" cellpadding="5" cellspacing="2" width="100%">
	<tr>
      <th class="header">Date</th>
      <th colspan="2" class="header">checkstyle</th>
      <th colspan="1" class="header">findbugs</th>
      <th colspan="1" class="header">pmd</th>
      <th colspan="1" class="header">pmd-cpd</th>
      <th colspan="1" class="header">javancss</th>
      <th colspan="1" class="header">TODO</th>
      #if ($cobertura)
        <th colspan="3" class="header">cobertura</th>
      #end
    </tr>
    <tr>
      <th width="20%"><br /></th>
      <th width="6%">Files</th><th width="10%">Errors</th>
      <th width="6%">Errors</th>
      <th width="10%">Errors</th>
      <th width="8%">Duplications</th>
      <th width="10%">Violations</th>
      <th width="10%">TODOs</th>
      #if ($cobertura)
        <th width="6%">Line</th>
        <th width="6%">Branch</th>
        <th width="8%">JUnit</th>
      #end
	</tr>
	
	#set ($mode = 0)
	#foreach ($date in $dates)
	  <tr class=#if ($mode % 2 == 0) "a" #else "b" #end>
	  <td>$date</td>
	    #set ($summaries = $results.get($date))
		<td class="r">$!summaries.get("checkstyle").filecount</td>
		<td class="r">$!summaries.get("checkstyle").statvalue</td>
		<td class="r">$!summaries.get("findbugs").statvalue</td>
		<td class="r">$!summaries.get("pmd").statvalue</td>
		<td class="r">$!summaries.get("pmd-cpd").statvalue</td>
		<td class="r">$!summaries.get("javancss").statvalue</td>
		<td class="r">$!summaries.get("todo").statvalue</td>
        #if ($cobertura)
          <td class="r">$!summaries.get("cobertura-line").statvalue</td>
          <td class="r">$!summaries.get("cobertura-branch").statvalue</td>
          <td class="r">$!summaries.get("junit").statvalue</td>
        #end
	  </tr>
	  #set ($mode = $mode + 1)
	#end
	
</table>

</body>
</html>
